.item-task {
    display: block;
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid var(--secondary-color);
    margin-bottom: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    }

    h2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--text-color);
      margin-bottom: 8px;
    }

    p {
      font-size: 1rem;
      color: var(--text-color);
    }

    // Cores por categoria
    &.school {
      border-left: 6px solid var(--school-category-color);
      background-color: rgba(6, 214, 160, 0.1);
    }

    &.college {
      border-left: 6px solid var(--college-category-color);
      background-color: rgba(17, 138, 178, 0.1);
    }

    &.personal {
      border-left: 6px solid var(--personal-category-color);
      background-color: rgba(239, 71, 111, 0.1);
    }

    &.work {
      border-left: 6px solid var(--work-category-color);
      background-color: rgba(131, 56, 236, 0.1);
    }
}