@use 'abstract/variables' as v;

:root{
    --light-color: #{v.$light-color};
    --primary-color: #{v.$primary-color};
    --secondary-color: #{v.$secondary-color};
    --accent-color: #{v.$accent-color};
    --text-color: #{v.$text-color};
    --border-color: #{v.$border-color};
    --hover-color: #{v.$hover-color};
    --shadow-color: #{v.$shadow-color};
    --danger-color: #{v.$danger-color};
    --warning-color: #{v.$warning-color};
    --success-color: #{v.$success-color};
  
    --school-category-color: #{v.$school-category-color};
    --college-category-color: #{v.$college-category-color};
    --personal-category-color: #{v.$personal-category-color};
    --work-category-color: #{v.$work-category-color};
  
    --font: #{v.$font};
}
