.category-container{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font);
    padding: 16px;
    height: 64px;
    width: 144px;
}
