$light-color: #F4F4F9;
$primary-color: #3D8D7A;
$secondary-color: #B3D8A8;
$accent-color: #FFD166;
$text-color: #2E2E3A;

$school-category-color: #06D6A0;
$college-category-color: #118AB2;
$personal-category-color: #EF476F;
$work-category-color: #8338EC;

$font: 'Inter', sans-serif;